.country__container {
  background-color: #f1f2ed;
  padding: 1em;
  border-radius: 6px;
  margin: 0.5em 0;
}
.infomation_container {
  display: flex;
}
.infomation_container p {
  margin-right: 2em;
}

.color__total {
  object-fit: contain;
  background-color: #ad8b5b;
  padding: 6px;
  border-radius: 50px;
  margin-left: 0.6rem;
}
.color__recovered {
  object-fit: contain;
  background-color: #40c561;
  padding: 6px;
  border-radius: 50px;
  margin-left: 1rem;
}
.color__deaths {
  object-fit: contain;
  background-color: #1f1735;
  padding: 6px;
  border-radius: 50px;
  margin-left: 1rem;
}
